.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.DayBox {
  color: white;
  background: linear-gradient(45deg, #5b5b5c 30%, #9e9a99 90%);
  border-radius: 12px;
  border: 2px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3);
  height: 48;
  padding: 20px;
  margin-bottom: 20px;

}

.WeatherImage {
  height: 50px;
  width: 50px
}